.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.WeatherCard {
  border: 2px solid black;
  border-radius: 8px;
  flex-direction: column;
}

.WeatherAppHeader {
  color: #8900e1;
  display: flex;
  font-size: 400%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.WeatherImageWrapper {
  align-content: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 160px;
}

.currentTempWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.currentTemp {
  font-size: 60px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.highTemp {
  font-size: 25px;
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lowTemp {
  font-size: 25px;
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weatherType {
  display: flex;
  justify-content: center;
}

.weatherWrapper {
  display: grid;
  justify-content: center;
}

.citycontainer {
  display: flex;
}

.cityone a {
  color: #8900e1;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.citytwo a {
  color: #8900e1;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.citythree a {
  color: #8900e1;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.cityfour a {
  color: #8900e1;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.cityone a.Active {
  border-bottom: 2px solid black;
}

.citytwo a.Active {
  border-bottom: 2px solid black;
}

.citythree a.Active {
  border-bottom: 2px solid black;
}

.cityfour a.Active {
  border-bottom: 2px solid black;
}

@media (min-width: 300px) {
  .WeatherCard {
    flex-direction: row;
  }
  .highTemp {
    margin-right: 70px;
  }
  .lowTemp {
    margin-left: 70px;
  }
}