.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.WeatherCard {
  border: 2px solid black;
  border-radius: 8px;
}

.WeatherAppHeader {
  display: flex;
  justify-content: center;
  font-size: 200%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #8900e1;
}
