.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.WeatherCard {
  border: 2px solid black;
  border-radius: 8px;
}

.WeatherAppHeader {
  color: #8900e1;
  display: flex;
  font-size: 200%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.citycontainer {
  display: flex;
}

.cityone a {
  color: #8900e1;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.citytwo a {
  color: #8900e1;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.citythree a {
  color: #8900e1;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.cityfour a {
  color: #8900e1;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.currentTempWrapper {
  padding: 20px;
  text-align: center;
}

.currentTemp {
  font-size: 30px;
  margin: 0;
}